nav { 
	background-color: #589a58;
	margin-bottom: 20px; 
}

.external-links-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	list-style: none;
}

.external-links-container a { 
	color: #1d1212; /*#543737;silver;*/
	text-decoration: none; 
}
.external-links-container a:hover {
	color: #ffffff;
} 

/*MEDIA QUERY*/
@media only screen and (min-width: 780px) {
	.external-links-container {
		flex-direction: row;
		justify-content: space-around;
	}
}



